:root {
    --fg: #fcfcfc;
    --fg-darker: #000;
    --bg: #0D0D0D;
}

* {
    color: var(--fg);
    font-family: "Segoe UI", "Helvetica", "Source Sans Pro", "Noto Sans", sans-serif;
}

a:hover {
    text-decoration: underline !important;
}

p {
    line-height: 1.45em;
}

html {
    background-color: #000000;
}

body {
    max-width: 800px;
    margin: 0px auto;
    background-color: var(--bg);
}

code {
    font-family: monospace;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: auto;
    white-space: pre-wrap; 
    display: inline-block; 
    max-width: 600px;
    text-decoration: none;
    border-radius: 3px;
    padding: 1em;
    background-color: rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) inset;
}

header.gitforums.header {
    background-color: #1d1d1d;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.5);
}

div.left, div.right {
    display: inline-flex;
}

div.right {
    float: right;
    vertical-align: middle;
}

header.gitforums.header h1 {
    margin: 0;
}

div.gitforums.login.name, div.gitforums.login.avatar {
    display: inline-flex;
    vertical-align: middle;
}

div.gitforums.login.name {
    margin-top: 8%
}

a.gitforums.login.name, a.gitforums.comment.author {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-width: 300px;
    text-decoration: none;
}

.gitforums.login.avatar {
    width: 20px;
    min-width: 20px;
	height: 20px;
    background-size: 20px 20px;
    border-radius: 50%;
    margin: 7%;
}

div.gitforums.body {
    padding: 20px;
}

td.gitforums.list.cell, td.gitforums.comment.cell {
    display: inline-flex;
    padding: 10px;
    padding-top: 15px;
    width: 740px;
    border-bottom: 1px solid rgba(255,255,255,0.05)
}

td.gitforums.list.cell.refresh, td.gitforums.list.cell.refresh a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: var(--fg);
    opacity: .5;
}

.gitforums.list.infodiv {
    width: 100%;
}

.gitforums.list.avatar, img.gitforums.comment.avatar, .gitforums.comment.avatar.master {
    width: 40px;
    min-width: 40px;
	height: 40px;
	background-size: 40px 40px;
	border-radius: 20px;
    display: inline-flex;
    margin: 0 10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: #FFF;
}

a.gitforums.list.title, a.gitforums.list.author {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    width: 500px;
    display: block;
    text-decoration: none;
}

.gitforums.list.subinfodiv {
    display: flex;
    justify-content: space-between;
}

a.gitforums.list.author, div.gitforums.list.stats, a.gitforums.comment.author {
    font-size: 0.75em;
    color: var(--fg);
    opacity: 0.5;
    padding-top: 5px;
    display: inline-flex;
    margin: 0;
}

.gitforums.list.stats {
    margin-left: auto;
}

.gitforums.list.stats.upvotes, .gitforums.list.stats.downvotes, .gitforums.list.stats.comments {
    margin: 0px 10px;
    display: inline-flex;
}

.gitforums.list.stats.upvotes {
    color: green;
}

.gitforums.list.stats.downvotes {
    color: red;
}

div.gitforums.comment.info.master {
    display: block;
}

div.gitforums.comment.info.master, div.gitforums.comment.body {
    margin-top: .5em;
}

td.gitforums.comment.cell {
    display: block;
    padding-top: 0px;
}

td.gitforums.comment.cell.master {
    display: flex;
}

p.gitforums.comment.body {
    display: inline-flex;
    margin-top: 0px;
}

img.gitforums.comment.avatar, div.gitforums.comment.avatar.master {
    vertical-align: top;
    margin-left: 0px;
    margin-right: 1em;
    margin-top: 16px;
}

p.gitforums.comment.body, p.gitforums.comment.info.body.master {
    width: 600px;
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: auto;
    white-space: pre-wrap; 
    display: inline-block;  
}

.gitforums.comment.info.title.master p {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0px !important;
    margin-bottom: 0;
}

.gitforums.comment.info.body.master p {
    margin-bottom: 0;
}
